@import 'tailwindcss';

:root {
  --color-blue: rgb(17, 82, 242);
  --color-pink: rgb(255, 109, 106);
  --color-yellow: rgb(244, 181, 56);
  --color-mint: rgb(31, 221, 203);
  --color-black: rgb(16, 24, 31);

  /* Button-specific variables */
  --button-bg-primary: var(--color-blue);
  --button-bg-secondary: rgb(0, 91, 181);
  --button-text-primary: #fff;
  --button-text-secondary: #333;
  --button-hover-primary: var(--button-bg-secondary);
  --button-hover-secondary: #cbd5e1;
  --button-disabled-bg: #94a3b8;
  --button-disabled-text: #f1f5f9;
}

@theme {
  --color-brand: var(--color-blue);
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  opacity: 0;
  transition: opacity 0.3s;
}

.mySwiper:hover .swiper-button-prev,
.mySwiper:hover .swiper-button-next {
  opacity: 1;
}
